/*
=============== 
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Caprasimo&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  --dark-blue: #292b5c;
  --light-blue: #4856a0;
  --lighter-blue: #3f82b2;
  --green: #55eca9;
  --white: #fff;
  --black: #000000;
  --gradient: linear-gradient(to right, #3f82b2, #292b5c);

  --ff-roboto: 'Roboto', sans-serif;
  --ff-caprasimo: 'Caprasimo', serif;
  --ff-pacifico: 'Pacifico', cursive;
  --ff-bruno: 'Bruno Ace', sans-serif;

  --transition: all 0.3s linear;
  --spacing: 0.15rem;
  --line-height: 1.6;
  --radius-light: 0.5rem;
  --radius-circle: 45px;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1200px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: var(--ff-roboto);
  background: #dd77ae;
  color: var(--white);
  font-size: 0.875rem;
}

ul {
  margin-left: 1.5rem;
}

a {
  text-decoration: none;
}

h1,
h2 {
  letter-spacing: var(--spacing);
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

.highlight {
  background-color: var(--light-blue);
}

/*
=============== 
HEADER 
===============
*/

#header {
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  background: var(--dark-blue);
  overflow: hidden;
}

.viewport {
  position: relative;
  max-width: var(--max-width);
  margin: 0 auto;
}

.logo {
  color: var(--white);
  font-family: var(--ff-caprasimo);
  padding: 1rem 1.5rem 0;
}

.logo span {
  font-family: var(--ff-pacifico);
}

.header-containers {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  z-index: 1;
}

.header-container1,
.header-container2 {
  flex: 1; /* Cada container ocupará o mesmo espaço */
  padding: 1.5rem;
}

.header-container1 p:nth-of-type(1) {
  color: var(--green);
  font-size: 0.8rem;
}

.header-container1 h2 {
  font-family: var(--ff-caprasimo);
}

.header-container1 h2 span {
  background-color: var(--light-blue);
}

.header-container1 p:nth-of-type(2) {
  line-height: var(--line-height);
  margin: 3rem 0;
  max-width: 80%;
}

/* Button Header */

.btn-header {
  padding: 13px 30px;
  border: none;
  border-radius: var(--radius-light);
  background-color: var(--green);
  color: var(--dark-blue);
  cursor: pointer;
  transition: var(--transition);
  box-shadow: var(--dark-shadow);
  position: relative;
}

.btn-header:hover {
  background-color: #3cc588;
  color: #267a54;
}

.btn-header:active {
  top: 2px;
  box-shadow: none;
}

.fa-briefcase {
  margin-right: 0.4rem;
}

/* Container do retrato */

.background-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 33%;
  height: 100%;
  background: #2d376b;
  z-index: 0;
}

/* Retrato */
.header-container2 img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 4rem;
}

/* Círculos abaixo do retrato */
.header-container2 img:last-child {
  position: absolute;
  right: 80px;
  top: 100px;
  height: auto;
  z-index: -1;
}

/*
==============
Media Query 
==============
*/

@media (max-width: 760px) {
  .header-containers {
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
  }

  .btn-header {
    margin-bottom: 1.5rem;
  }

  .header-container2 img {
    margin: 0;
  }
}
