/*
=============== 
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Caprasimo&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  --dark-blue: #292b5c;
  --light-blue: #4856a0;
  --lighter-blue: #3f82b2;
  --green: #55eca9;
  --white: #fff;
  --black: #000000;
  --gradient: linear-gradient(to right, #3f82b2, #292b5c);

  --ff-roboto: 'Roboto', sans-serif;
  --ff-caprasimo: 'Caprasimo', serif;
  --ff-pacifico: 'Pacifico', cursive;
  --ff-bruno: 'Bruno Ace', sans-serif;

  --transition: all 0.3s linear;
  --spacing: 0.15rem;
  --line-height: 1.6;
  --radius-light: 0.5rem;
  --radius-circle: 45px;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1200px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-roboto);
  color: var(--white);
}

ul {
  margin-left: 1.5rem;
}

a {
  text-decoration: none;
}

h1,
h2 {
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

.highlight {
  background-color: var(--light-blue);
}

section,
.viewport {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*
=============== 
HEADER 
===============
*/

#header {
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  background: var(--dark-blue);
  overflow: hidden;
}

.viewport {
  position: relative;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  color: var(--white);
  font-family: var(--ff-caprasimo);
}

.logo span {
  font-family: var(--ff-pacifico);
}

.header-containers {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  z-index: 1;
}

.header-container1,
.header-container2 {
  flex: 1; /* Cada container ocupará o mesmo espaço */
}

.header-container1 p:nth-of-type(1) {
  color: var(--green);
  font-size: 0.8rem;
}

.header-container1 h1 {
  font-family: var(--ff-caprasimo);
}

.header-container1 h1 span {
  background-color: var(--light-blue);
}

.header-container1 p:nth-of-type(2) {
  line-height: var(--line-height);
  margin: 5rem 0;
  max-width: 80%;
}

/* Button Header */

.btn-header {
  width: 230px;
  height: 55px;
  padding: 13px 30px;
  border: none;
  border-radius: 45px;
  background-color: var(--green);
  color: var(--dark-blue);
  cursor: pointer;
  transition: var(--transition);
  position: relative;
  margin-bottom: 5rem;
  font-size: 1rem;
}

.btn-header:hover {
  background-color: #3cc588;
  color: #267a54;
}

.btn-header:active {
  top: 2px;
}

.fa-briefcase {
  margin-right: 0.4rem;
}

/* Container do retrato */

.background-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 33%;
  height: 100%;
  background: #2d376b;
  z-index: 0;
}

/* Retrato */
.header-container2 img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 4rem;
}

/* Círculos abaixo do retrato */
.header-container2 img:last-child {
  position: absolute;
  right: 7%;
  top: 15%;
  height: auto;
  z-index: -1;
}

/*
==================
PROJETOS RECENTES 
==================
*/

#projetos {
  background: #f4f6f7 url('./imgs/ripple-bg.svg') no-repeat bottom / cover;
  width: 100vw;
  height: auto;
  overflow: hidden;
}

/* Projetos Título */

.projetos-header {
  position: absolute;
  width: 100%;
  max-width: 30rem;
  text-align: right;
  top: 0;
  right: 0;
  padding: 0 1.5rem;
  margin-top: 3rem;
}

.projetos-titulo {
  position: relative;
  font-family: var(--ff-caprasimo);
  color: var(--light-blue);
  text-shadow: 3px 3px var(--green);
  z-index: 1;
}

.projetos-titulo span {
  font-family: var(--ff-pacifico);
}

.projetos-header p {
  color: var(--black);
  margin-top: 1rem;
}

.projetos-highlight {
  position: absolute;
  right: 0;
  top: 2.3rem;
  width: 100%;
  height: 1.7rem;
  background-color: var(--green);
}

/* Projetos cards */

.projetos-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13rem;
  width: 100%;
  gap: 1.5rem;
}

.projetos-card1,
.projetos-card2,
.projetos-card3 {
  color: var(--black);
  position: relative;
  margin: 6rem 0;
}

.projetos-card2 {
  transition-delay: 0.3s;
}

.projetos-card3 {
  transition-delay: 0.6s;
}

.projetos-img {
  width: 100%;
  height: auto;
  border-radius: 2.125rem;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
}

.projetos-container h1 {
  font-family: var(--ff-bruno);
  color: var(--green);
  font-size: 7rem;
  position: absolute;
  top: -5rem;
  transition: top 0.3s ease;
}

.projetos-container p {
  margin: 1rem 0;
}

.projetos-visite-img {
  width: 13px;
  margin-left: 5px;
}

.projetos-card1:hover h1,
.projetos-card2:hover h1,
.projetos-card3:hover h1 {
  top: -7rem;
}

/* Card animation */

.card-animate {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.card-animate.is-visible {
  opacity: 1;
  transform: translateY(0);
}

/*
==================
CURRICULUM VITAE 
==================
*/

#curriculo {
  background: var(--green);
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.curriculo-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100px;
  background-color: #3cc588;
}

.curriculo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  /* align-items: center; */
  margin-top: 10rem;
  width: 100%;
  gap: 1.5rem;
}

.curriculo-intro,
.curriculo-resume {
  flex: 1 1 45%;
}

.curriculo-intro h3 {
  color: #2d376b;
  font-family: var(--ff-caprasimo);
  font-size: 2.2rem;
  margin: 5rem 0;
}

/* Download button */

.download-button {
  --width: 230px;
  --height: 55px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #2d376b;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 45px;
  transition: background 0.3s;
  cursor: pointer;
}

.download-button:active {
  top: 2px;
}

.download-button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #111;
  border-radius: 0.25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.download-button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.download-button::after,
.download-button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.download-btn-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-button-wrapper,
.download-btn-text,
.download-btn-icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.download-btn-text {
  top: 0;
}

.download-btn-text,
.download-btn-icon {
  transition: top 0.5s;
}

.download-btn-icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-btn-icon svg {
  width: 20px;
  height: 20px;
}

.download-button:hover {
  background: #2c7052;
}

.download-button:hover .download-btn-text {
  top: -100%;
}

.download-button:hover .download-btn-icon {
  top: 0;
}

.download-button:hover:before,
.download-button:hover:after {
  opacity: 1;
  visibility: visible;
}

.download-button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.download-button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

/* End Download Button */

/* Timeline */

.timeline {
  width: 100%;
  padding: 100px 0 50px;
  position: relative;
}
.timeline:before {
  content: '';
  position: absolute;
  top: 0px;
  left: calc(33% + 15px);
  bottom: 0px;
  width: 4px;
  background: #fff;
}
.timeline:after {
  content: '';
  display: table;
  clear: both;
}
.entry {
  clear: both;
  text-align: left;
  position: relative;
}
.entry .title {
  margin-bottom: 0.5em;
  float: left;
  width: 33%;
  padding-right: 10px;
  text-align: right;
  position: relative;
}
.entry .title:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid #fff;
  background-color: #3f82b2;
  border-radius: 100%;
  top: 15%;
  right: -27px;
  z-index: 99;
}
.entry .title h3 {
  color: #3f82b2;
  margin: 0;
  font-size: 85%;
}
.entry .title p {
  margin: 0;
  font-size: 100%;
  color: var(--dark-blue);
}
.entry .body {
  margin: 0 0 3em;
  float: right;
  width: 66%;
  padding-left: 30px;
}
.entry .body p {
  line-height: 1.4em;
  color: var(--dark-blue);
  margin-bottom: 0.5rem;
}
.entry .body p:first-child {
  margin-top: 0;
  font-weight: 400;
}
.entry .body ul {
  color: var(--dark-blue);
  padding-left: 0;
  list-style-type: none;
}

.entry .body ul li span {
  display: inline-block;
  background-color: #3f82b2;
  border: 1px solid var(--dark-blue);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 5px 0 0;
  font-size: 12px;
  color: #fff;
}

/*
==============
CONTATO 
==============
*/

#contato {
  position: relative;
  background: var(--dark-blue);
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.background-box-contato {
  position: absolute;
  top: 0;
  right: 0;
  width: 43%;
  height: 100%;
  background: var(--light-blue);
  z-index: 0;
}

.contato-container {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #2d376b;
  border-radius: 20px;
  width: 600px;
  height: 400px;
  z-index: 1;
}

.contato-container-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  flex-basis: 30%;
  flex-grow: 0;
  text-align: center;
  height: 100%;
  width: 100%;
}

.contato-container-left img {
  width: 4rem;
  height: auto;
  margin: 1rem;
}

.trin-trin {
  animation-name: trin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes trin {
  from {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  20%,
  32%,
  44%,
  56%,
  68% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  23%,
  35%,
  47%,
  59%,
  71% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  26%,
  38%,
  50%,
  62%,
  74% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  29%,
  41%,
  53%,
  65%,
  77% {
    transform: rotate3d(0, 0, 1, -15deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.contato-container-right {
  flex: 1;
  text-align: center;
  padding: 2rem;
}

.contato-container-right p:nth-of-type(1) {
  color: var(--green);
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 2rem;
}

.contato-container-right p:nth-of-type(2) {
  margin: 2rem 0;
}

.contato-container-right p:nth-of-type(2) a {
  font-size: 1.5rem;
  text-decoration: underline;
  color: #fff;
}

.socials {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.7rem;
}

/*
==============
Media Query 
==============
*/

@media (max-width: 768px) {
  section,
  .viewport {
    height: auto;
  }

  /* Header */

  .header-containers {
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
  }

  .header-container1 h1 {
    font-size: 2.5rem;
  }

  .header-container1 p:nth-of-type(2) {
    max-width: 100%;
  }

  .btn-header {
    width: 100%;
    height: 60px;
    font-size: 1.2rem;
  }

  .header-container2 img {
    margin: 1rem auto 2.3rem;
  }

  .header-container2 img:last-child {
    right: 7%;
    top: 5%;
  }

  /* Projetos recentes */

  .projetos-header {
    position: relative;
    text-align: left;
    max-width: 100%;
  }

  .projetos-titulo {
    font-size: 2.2rem;
  }

  .projetos-highlight {
    margin: 0 2rem;
  }

  .projetos-container {
    display: flex;
    flex-direction: column; /* Alinha os cards em coluna no mobile */
    align-items: center;
    margin-top: 5rem;
  }

  .projetos-card1,
  .projetos-card2,
  .projetos-card3 {
    max-width: 100%;
    margin: 4rem auto 2rem; /* Centraliza os cards e dá um espaçamento entre eles */
  }

  .projetos-card2 {
    transform: none;
  }

  /* Curriculo */

  .curriculo-container {
    display: flex;
    flex-direction: column; /* Alinha os cards em coluna no mobile */
    align-items: center;
    margin-top: 5rem;
  }

  .curriculo-intro h3 {
    font-size: 1.8rem;
  }

  .timeline {
    padding: 100px 0;
  }

  .entry .title:before {
    right: -27px;
  }

  .download-button {
    width: 100%;
    height: 60px;
    margin: 3rem 0;
    font-size: 1.2rem;
  }

  /* Contato */

  .contato-container {
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 5rem auto;
  }
}

/*
==================
Ir para o TOPO 
==================
*/

#topButton {
  display: none;
  position: fixed;
  height: 3rem;
  width: 3rem;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 3.5px var(--dark-blue) solid;
  color: var(--dark-blue);
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  transition: var(--transition);
  background: transparent;
}

#topButton:hover {
  border: 3.5px var(--lighter-blue) solid;
  color: var(--lighter-blue);
}
